.main-page-content
{
    background-color: #e5e9ec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    height: 500px;
    width: 1000px;
    position: relative;
    top: 200px;
    border-radius: 50px;
}
#main-page-description
{
    position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: 50px;
}