.nav-bar
{
    background-color: #5B7C99;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.nav-items
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
}
p:hover
{
    cursor: pointer;
    /* color: #FDE74C;
    font-style: underline; */
}